<nav>
    <ul>
        <span><li>Home</li></span>
        <span><li>Custom</li></span>
        <span><li>Sedan</li></span>
        <span><li>Suv</li></span>
        <span><li>Truck</li></span>
    </ul>
</nav>